<md-sidenav-container layout="row" flex>
  <!--SIDE NAV-->
  <md-sidenav name="menu" class="app-menu" [style]="fullPage ? 'side' : 'over'">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h1>Pingular</h1>
            </div>
        </md-toolbar>
        
        <md-list>
            <md-list-item md-ink *ngFor="#value of sideBarElements">
                {{value}}
            </md-list-item>
        </md-list>
    </md-sidenav>
  
  <!--BODY-->
  <section class="app-content" layout="column" layout-align="start center" flex>
        
        <md-toolbar class="fixed-toolbar">
            <div class="md-toolbar-tools">
                <button md-button
                    class="md-hamburger md-icon-button"
                    hide-gt-lg
                    (click)="showMenu($event)"
                    aria-label="Home">
                    <i md-icon class="md-dark">menu</i>
                </button>
                
                <h2>
                    <span class="verbose-title">Components <small>–</small>&nbsp;</span>
                    <span>{{title}}</span>
                </h2>
                
                <span flex></span>
            
                <a  href="https://github.com/justindujardin/ng2-material/releases/tag/v{{title}}"
                    target="_blank"
                    class="md-caption">{{title}}
                </a>
            </div>
        </md-toolbar>
        
        <md-content class="examples" md-scroll-y layout-padding>
            <div flex layout="column">
              <!--Start card first row -->
              <section layout="column" layout-gt-md="row">
                
                <!--Indoor Temperature-->
                <indoor-temperature flex="100" flex-gt-md="33"></indoor-temperature>
                
                <!--Outside Temperature-->
                <outdoor-temperature flex="100" flex-gt-md="33"></outdoor-temperature>
                
                <!--Weather Information-->
                <weather flex="100" flex-gt-md="33"></weather>

              </section>
              <!--End card first row-->
            </div>
        </md-content>

  </section>
</md-sidenav-container>