<div layout="column" style="height:100%;">
  <!--start tool bar -->
    <md-toolbar class="md-theme-indigo">
      <div class="md-toolbar-tools">
        <h3 flex="50" layout layout-align="end center">Main Title</h3>
        <h3 flex="50" layout layout-align="end center">Sub Title</h3>
      </div>
    </md-toolbar>
  <!--end tool bar-->
  <md-sidenav-container layout="row" flex>
    
    <!--start side nav-->
    <md-sidenav name="left" [style]="hasMedia('gt-sm') ? 'side' : 'over'">
      <!--start tool bar -->
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Sidenav Left</h1>
      </md-toolbar>
      <!--end tool bar-->
      
      <md-content layout-padding>
        <button md-raised-button (click)="close('left')" class="md-primary" hide-gt-md>
          Close Sidenav Left
        </button>
        <p hide-md show-gt-md>
          This sidenav is locked open on your device. To go back to the default behavior,
          narrow your display.
        </p>
      </md-content>
    </md-sidenav>
    <!--end side nav-->

    <md-content flex="100">      
      <div flex="100" layout="column" layout layout-align="top center">
        
        <div flex="100" layout-sm="column" layout-gt-sm="row">
          <div flex-sm = "100" flex-gt-sm = "33">
            <md-card layout="column">
              <div>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">Indoor Temperature</span>
                  </md-card-title-text>
                </md-card-title>
              </div>
              <div>  
                <md-card-content>
                  <p>Content</p>
                  <p>Sub-Content</p>
                </md-card-content>
              </div>
            </md-card>
          </div>
          <div flex-sm = "100" flex-gt-sm = "33">
            <md-card layout="column">
              <div>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">Outside Temperature</span>
                  </md-card-title-text>
                </md-card-title>
              </div>
              <div>  
                <md-card-content>
                  <p>Content</p>
                </md-card-content>
              </div>
            </md-card>
          </div>
          <div flex-sm = "100" flex-gt-sm = "33">
            <md-card layout="column">
              <div>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">Current Weather</span>
                  </md-card-title-text>
                </md-card-title>
              </div>
              <div>  
                <md-card-content>
                  <p>Content</p>
                </md-card-content>
              </div>
            </md-card>
          </div>
        </div>
        
        <div flex layout="row">
          <button md-raised-button (click)="open('left')"
                  class="md-primary" hide-gt-md>
            Toggle left
          </button>
        </div>
        
      </div>
      <div flex></div>
    </md-content>
    
  </md-sidenav-container>
</div>