
<md-content flex layout layout-align="center center" style="height:100%;">
    <md-whiteframe class="md-whiteframe-2dp" flex-sm="100" flex-gt-sm="50" flex-gt-md="33" layout>
      <div layout="column" class="md-inline-form" flex="100">
          <div class="md-toolbar-tools">
            <h3>Welcome</h3>
          </div>
          <div layout layout-align="center center">
            <md-input-container class="md-block" flex-gt-sm = "50" style="margin-bottom:3px;">
              <label>Username</label>
              <input md-input [(value)]="user.username">
            </md-input-container>
          </div>
          <div layout layout-align="center center">
            <md-input-container class="md-block" flex-gt-sm = "50" style="margin-bottom:3px">
              <label>Password</label>
              <input md-input [(value)]="user.password">
            </md-input-container>
          </div>
        <div layout-sm = "column" layout-gt-sm = "row">
          <div flex-gt-sm = "33" hide-sm></div>
          <div flex-gt-sm = "33" layout layout-align="center center">
            <md-content> 
              <button md-button md-no-ink class="md-primary">Sign Up</button>
            </md-content>
          </div>
          <div flex-gt-sm = "33" layout layout-align="center end">
            <md-content> 
              <button md-raised-button class="md-raised md-primary" (click)="login()">Login</button>
            </md-content>
          </div>
        </div>
      </div>
  </md-whiteframe>
</md-content>


