<section class="login-form" layout="row" layout-align="center center" flex="100" layout-margin>
    <md-whiteframe class="md-whiteframe-2dp" 
      flex-sm="100" flex-gt-sm="50" flex-gt-md="33"
      layout="row" layout-wrap>
      
      <md-toolbar flex="100">
          <div class="md-toolbar-tools">
              <h1>Please fill the form</h1>
          </div>
      </md-toolbar>
      
      <div layout="row" layout-align="center center" flex="100">
        <md-input-container md-no-float	class="md-block" flex="66" required>
          <label>Email</label>
          <input md-input [(ngModel)]="user.email">
        </md-input-container>
      </div>
      
      <div layout="row" layout-align="center center" flex="100">
        <md-input-container md-no-float	class="md-block" flex="66" required>
          <label>Username</label>
          <input md-input [(ngModel)]="user.username">
        </md-input-container>
      </div>
      
      <div layout="row" layout-align="center center" flex="100" flex-gt-md="50">
        <md-input-container md-no-float	class="md-block" flex="66">
          <label>Password</label>
          <input md-input type="password" [(ngModel)]="user.password">
        </md-input-container>
      </div>
      
      <div layout="row" layout-align="center center" flex="100" flex-gt-md="50">
        <md-input-container md-no-float	class="md-block" flex="66">
          <label>Confirm Password</label>
          <input md-input type="password" [(ngModel)]="user.confirmPassword">
        </md-input-container>
      </div>
      
      <div layout="row" layout-align="end center" flex="100" layout-padding layout-wrap>
        <button md-raised-button class="md-raised md-primary" (click)="signMeUp()">Sign Me Up!</button>
      </div>
      
      <div hide flex="100">
        <p>DEBUG</p>
        <p *ngIf="user">{{user.username}}</p>
      </div>
  </md-whiteframe>
  
  
</section>

